[
        {fp, [
                {httpport,9000},
                {httpsport,9443},
                {keyfile,"etc/certs/node.key.pem"},
                {certfile,"etc/certs/node.cert.pem"},
                {robot,"!SysteM1"},
                {system,"111111"},
                {relay_server,none},
                {license_server_host,{127.0.0.1}},
                {license_server_port,6661},
                {notify_level,error},
                {log_level,warning},
                {email, "support@faceplate.io"},
                {javascript_pool_size, default}
        ]}
].
